# Advanced Querying Mongo

In [4]:
%pip install pymongo
%pip install folium

Requirement already satisfied: pymongo in c:\users\carolina\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\carolina\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: folium in c:\users\carolina\anaconda3\lib\site-packages (0.14.0)
Requirement already satisfied: requests in c:\users\carolina\anaconda3\lib\site-packages (from folium) (2.28.1)
Requirement already satisfied: branca>=0.6.0 in c:\users\carolina\anaconda3\lib\site-packages (from folium) (0.6.0)
Requirement already satisfied: jinja2>=2.9 in c:\users\carolina\anaconda3\lib\site-packages (from folium) (2.11.3)
Requirement already satisfied: numpy in c:\users\carolina\anaconda3\lib\site-packages (from folium) (1.21.5)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\carolina\anaconda3\lib\site-packages (from jinja2>=2.9->folium) (2.0.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\carolina\anaconda3\lib\site-packages (from requests->folium) (2022.9.14)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\carolina\anaconda3\lib\site-packages (from requests->folium) (1.26.11)
Requirement already satisfied: idna<4,>=2.5 in c:\users\carolina\anaconda3\lib\site-packages (from requests->folium) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\carolina\anaconda3\lib\site-packages (from requests->folium) (2.0.4)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pymongo import MongoClient
import re

In [2]:
cursor=MongoClient()
cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [3]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [5]:
db=cursor.companies

In [7]:
colec=db.companies

In [8]:
list(colec.find().limit(1))[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

Importing libraries and setting up connection

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
# Your Code
query={'name': 'Babelgum'}
filtro={'name': True,'_id': False}

list(colec.find(query, filtro).limit(1))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [10]:
# Your Code
query={'number_of_employees': {'$gt': 5000}}
filtro={'name': True,'_id': False}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [11]:
# Your Code
query = {'founded_year':{'$gte' : 2000 , '$lte' : 2005}} 

filtro = {'name': True, 'founded_year' : 1,'_id': False }

list(colec.find(query, filtro).sort('founded_year', -1).limit(10))

[{'name': 'Zoho', 'founded_year': 2005},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'YouTube', 'founded_year': 2005},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Wetpaint', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [12]:
# Your Code
query = {'$and': [{'ipo.valuation_amount':{'$gt' : 100000000},
                 'founded_year':{'$lt' : 2010}}]}

filtro = {'name': True, 'ipo' : 1,'_id': False }

list(colec.find(query,filtro).limit(1))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [13]:
# Your Code
query = {'$and': [{'number_of_employees':{'$lt' : 1000},
                 'founded_year':{'$lt' : 2005}}]}

filtro = {'name': True,'_id': False }

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(5))

[{'name': 'Ticketmaster'},
 {'name': 'Fox Interactive Media'},
 {'name': 'MindTouch'},
 {'name': 'Skype'},
 {'name': 'stylediary'}]

### 6. All the companies that don't include the `partners` field.

In [14]:
# Your Code
list(colec.find({"partners": {'$exists': False}}))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [15]:
# Your Code
list(colec.find({"category_code": None},{'name': True,'_id': False}).limit(5))

[{'name': 'Collective'},
 {'name': 'Snimmer'},
 {'name': 'KoolIM'},
 {'name': 'Level9 Media'},
 {'name': 'VidKing'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [16]:
# Your Code
query ={'number_of_employees':{'$gt' : 100,'$lte' : 1000}}

filtro = {'name': True,'_id': False,'number_of_employees': 1}

list(colec.find(query,filtro).limit(5))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120},
 {'name': 'OpenX', 'number_of_employees': 305},
 {'name': 'LifeLock', 'number_of_employees': 644},
 {'name': 'Jajah', 'number_of_employees': 110}]

### 9. Order all the companies by their IPO price in a descending order.

In [17]:
# Your Code
query = {'ipo.valuation_amount' : {'$gte' : 0}}
filtro = {'name': True,'_id': False}
list(colec.find(query,filtro).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE'},
 {'name': 'Facebook'},
 {'name': 'Amazon'},
 {'name': 'Twitter'},
 {'name': 'Groupon'},
 {'name': 'Tencent'},
 {'name': 'Western Digital'},
 {'name': 'LinkedIn'},
 {'name': 'BMC Software'},
 {'name': 'Rackspace'}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [18]:
# Your Code
query = {'number_of_employees' : {'$gte' : 0}}
filtro = {'name': True,'_id': False}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens'},
 {'name': 'IBM'},
 {'name': 'Toyota'},
 {'name': 'PayPal'},
 {'name': 'Nippon Telegraph and Telephone Corporation'},
 {'name': 'Samsung Electronics'},
 {'name': 'Accenture'},
 {'name': 'Tata Consultancy Services'},
 {'name': 'Flextronics International'},
 {'name': 'Safeway'}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [19]:
# Your Code 
query = {'founded_month' : {'$gte': 7}}
filtro = {'name': True,'_id': False}

list(colec.find(query,filtro).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [20]:
# Your Code
query = {'$and': [{'acquisition.price_amount':{'$gt' : 10000},
                 'founded_year':{'$lte' : 2000}}]}

filtro = {'name': True,'_id': False }

list(colec.find(query,filtro).sort('acquisition.price_amount', 1).limit(5))

[{'name': 'E-register'},
 {'name': 'FullTilt Solutions'},
 {'name': 'Assessment Evaluation Services'},
 {'name': 'CellGate'},
 {'name': 'Advanced Mobile Solutions'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [21]:
# Your Code
query = {'acquisition.acquired_year':{'$gt' : 2010}}

filtro = {'name': True,'_id': False,'acquisition' : 1}

list(colec.find(query,filtro).sort('acquisition.price_amount', 1).limit(5))

[{'name': 'blogTV',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2013/03/13/younow-buys-blogtv/',
   'source_description': 'Live Social Video Network YouNow Acquires Streaming Service BlogTV',
   'acquired_year': 2013,
   'acquired_month': 3,
   'acquired_day': 13,
   'acquiring_company': {'name': 'YouNow', 'permalink': 'younow'}}},
 {'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'Mashery',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://allthingsd.com/20130417/intel-acquires-api-manager-mashery/',
   'source_description': 'Intel Acquires API Manager Mashery',
   'acquired_year': 2013,
   'acquired_month': 4,
   'acquired_day': 17,
   'acquiring_company': {'name': 'Intel', 'permalink': 'intel'}}},
 {'name': 'delicious',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/04/27/yahoo-sells-delicious-to-youtube-founders/',
   'source_description': 'Yahoo Sells Delicious To YouTube Founders',
   'acquired_year': 2011,
   'acquired_month': 4,
   'acquired_day': 27,
   'acquiring_company': {'name': 'AVOS Systems', 'permalink': 'avos'}}},
 {'name': 'Geni',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2012/11/28/all-in-the-family-myheritage-buys-former-yammer-stablemate-geni-com-raises-25m/',
   'source_description': 'MyHeritage acquires Geni and $25M to build family tree of the whole world',
   'acquired_year': 2012,
   'acquired_month': 11,
   'acquired_day': 28,
   'acquiring_company': {'name': 'MyHeritage', 'permalink': 'myheritage'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [22]:
# Your Code
query = {'founded_year':{'$gt' : 0}}

filtro = {'name': True,'_id': False,'founded_year' : 1}

list(colec.find(query,filtro).limit(5))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'AdventNet', 'founded_year': 1996},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [23]:
# Your Code
query = {'founded_day':{'$lte' : 7}}

filtro = {'name': True,'_id': False,'founded_year' : 1}

list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(5))

[{'name': 'Netscape', 'founded_year': 1994},
 {'name': 'PayPal', 'founded_year': 1998},
 {'name': 'Zappos', 'founded_year': 1999},
 {'name': 'Alibaba', 'founded_year': 1999},
 {'name': 'Postini', 'founded_year': 1999}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [26]:
# Your Code
query = {'$and': [{'category_code':{'$eq' : 'web'},
                 'number_of_employees':{'$gt' : 4000}}]}

filtro = {'name': True,'_id': False,'number_of_employees' : 1}

list(colec.find(query,filtro).sort('number_of_employees', 1).limit(5))

[{'name': 'Expedia', 'number_of_employees': 4400},
 {'name': 'AOL', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'number_of_employees': 8657},
 {'name': 'Los Angeles Times Media Group', 'number_of_employees': 10000},
 {'name': 'Rakuten', 'number_of_employees': 10000}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [35]:
# Your Code
query = {'$and':[{'acquisition.price_amount':{'$gt' : 10000000},
                 'acquisition.price_currency_code':{'$eq' : 'EUR'}}]}

filtro = {'name': True,'_id': False,'acquisition.price_amount' : 1}

list(colec.find(query,filtro).limit(5))

[{'name': 'ZYB', 'acquisition': {'price_amount': 31500000}},
 {'name': 'Apertio', 'acquisition': {'price_amount': 140000000}},
 {'name': 'Greenfield Online', 'acquisition': {'price_amount': 40000000}},
 {'name': 'Webedia', 'acquisition': {'price_amount': 70000000}},
 {'name': 'Wayfinder', 'acquisition': {'price_amount': 24000000}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [36]:
# Your Code
query = {'acquisition.acquired_month':{'$lte' : 3}}

filtro = {'name': True,'_id': False,}

list(colec.find(query,filtro).limit(5))

[{'name': 'Kyte'},
 {'name': 'NetRatings'},
 {'name': 'blogTV'},
 {'name': 'Livestream'},
 {'name': 'iContact'}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code