# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

Requirement already satisfied: pymongo in /Users/fernando/opt/anaconda3/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Users/fernando/opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [22]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [35]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [36]:
db=cursor.companies

In [39]:
colection = db.companies

In [56]:
list(colection.find({'name':'Babelgum'}))

filtro={'name': True, '_id': False}

list(colection.find({'name':'Babelgum'}, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [61]:
query={'number_of_employees':{'$gte': 5000}}

filtro={'name': True, 'number_of_employees': True, '_id': False}

list(colection.find(query, filtro).sort('number_of_employees', -1).limit(20))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000},
 {'name': 'Sony', 'number_of_employees': 180500},
 {'name': 'LG', 'number_of_employees': 177000},
 {'name': 'Ford', 'number_of_employees': 171000},
 {'name': 'Boeing', 'number_of_employees': 160000},
 {'name': 'Digital Equipment Corporation', 'number_of_employees': 140000},
 {'name': 'Nokia', 'number_of_employees': 125000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'MItsubishi Electric', 'number_of_employees': 107000},
 {'name': 'Bertelsmann', 'number_of_employees': 100000},
 {'name': 'Comcast', 'number_of_employees': 100000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [68]:
query={'$and': [{'founded_year': {'$gte':2000}},
                {'founded_year': {'$lte': 2005}}]}

filtro={'name': True, 'founded_year': True, '_id': False}

list(colection.find(query, filtro).limit(20))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004},
 {'name': 'Facebook', 'founded_year': 2004},
 {'name': 'Omnidrive', 'founded_year': 2005},
 {'name': 'StumbleUpon', 'founded_year': 2002},
 {'name': 'Gizmoz', 'founded_year': 2003},
 {'name': 'Helio', 'founded_year': 2005},
 {'name': 'Plaxo', 'founded_year': 2002},
 {'name': 'Technorati', 'founded_year': 2002},
 {'name': 'AddThis', 'founded_year': 2004},
 {'name': 'Veoh', 'founded_year': 2004},
 {'name': 'Jingle Networks', 'founded_year': 2005},
 {'name': 'Meetup', 'founded_year': 2002},
 {'name': 'LifeLock', 'founded_year': 2005},
 {'name': 'Wesabe', 'founded_year': 2005},
 {'name': 'Jangl SMS', 'founded_year': 2005},
 {'name': 'SmugMug', 'founded_year': 2002},
 {'name': 'Jajah', 'founded_year': 2005},
 {'name': 'Skype', 'founded_year': 2003}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [77]:
query = {'$and': [{'ipo.valuation_amount':{'$gte':1e9}},
                {'founded_year': {'$lte': 2010}}]}

filtro = {'name' : True, 'ipo.valuation_amount' : True, '_id': False}

list(colection.find(query,filtro).sort('ipo.valuation_amount',-1).limit(20))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Amazon', 'ipo': {'valuation_amount': 100000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}},
 {'name': 'Groupon', 'ipo': {'valuation_amount': 12800000000}},
 {'name': 'Tencent', 'ipo': {'valuation_amount': 11000000000}},
 {'name': 'Western Digital', 'ipo': {'valuation_amount': 9430000000}},
 {'name': 'LinkedIn', 'ipo': {'valuation_amount': 9310000000}},
 {'name': 'BMC Software', 'ipo': {'valuation_amount': 6000000000}},
 {'name': 'Rackspace', 'ipo': {'valuation_amount': 5440000000}},
 {'name': 'Baidu', 'ipo': {'valuation_amount': 4000000000}},
 {'name': 'TripAdvisor', 'ipo': {'valuation_amount': 3273770000}},
 {'name': 'HomeAway', 'ipo': {'valuation_amount': 3000000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Nielsen', 'ipo': {'valuation_amount': 1600000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Chegg', 'ipo': {'valuation_amount': 1100000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [80]:
query = {'$and': [{'number_of_employees':{'$lt':1000}},
                {'founded_year': {'$lt': 2005}}]}

filtro = {'name': True, 'number_of_employees': True, 'founded_year': True, '_id': False}

list(colection.find(query,filtro).sort('number_of_employees',-1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Cvent', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'ZoomInfo', 'number_of_employees': 800, 'founded_year': 2000}]

### 6. All the companies that don't include the `partners` field.

In [86]:
query={'partners': {'$exists': 'False' }} 

filtro = {'name':True, 'partners': True, '_id' : False}

list(colection.find(query,filtro).limit(10))

[{'name': 'Wetpaint', 'partners': []},
 {'name': 'AdventNet', 'partners': []},
 {'name': 'Zoho', 'partners': []},
 {'name': 'Digg', 'partners': []},
 {'name': 'Facebook', 'partners': []},
 {'name': 'Omnidrive', 'partners': []},
 {'name': 'Postini', 'partners': []},
 {'name': 'Geni', 'partners': []},
 {'name': 'Flektor', 'partners': []},
 {'name': 'Fox Interactive Media', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [104]:
query={'category_code': None } 

filtro = {'name': True, 'category_code': True, '_id': False}

list(colection.find(query,filtro).limit(10))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [94]:
query = {'$and': [{'number_of_employees':{'$gte':100}},
                {'number_of_employees': {'$lt': 1000}}]}

filtro = {'name': True, 'number_of_employees': True, '_id': False}

list(colection.find(query,filtro).sort('number_of_employees',-1).limit(10))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 9. Order all the companies by their IPO price in a descending order.

In [97]:
filtro = {'name': True, 'ipo.valuation_amount': True, '_id': False}

list(colection.find(query,filtro).sort('ipo.valuation_amount',-1).limit(10))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Zillow', 'ipo': {'valuation_amount': 2550000000}},
 {'name': 'Yelp', 'ipo': {'valuation_amount': 1300000000}},
 {'name': 'Higher One', 'ipo': {'valuation_amount': 1060000000}},
 {'name': 'OpenTable', 'ipo': {'valuation_amount': 1050000000}},
 {'name': 'QlikTech', 'ipo': {'valuation_amount': 1000000000}},
 {'name': 'Millennial Media', 'ipo': {'valuation_amount': 973500000}},
 {'name': 'Mixi', 'ipo': {'valuation_amount': 970000000}},
 {'name': 'Cornerstone OnDemand', 'ipo': {'valuation_amount': 900000000}},
 {'name': 'Infoblox', 'ipo': {'valuation_amount': 824000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [98]:
filtro = {'name': True, 'number_of_employees': True, '_id': False}

list(colection.find(query,filtro).sort('number_of_employees',-1).limit(10))

[{'name': 'Datamonitor', 'number_of_employees': 984},
 {'name': 'Infinera Corporation', 'number_of_employees': 974},
 {'name': 'Box', 'number_of_employees': 950},
 {'name': 'NorthPoint Communications Group', 'number_of_employees': 948},
 {'name': '888 Holdings', 'number_of_employees': 931},
 {'name': 'Forrester Research', 'number_of_employees': 903},
 {'name': 'Relax Solutions Pvt Ltd', 'number_of_employees': 900},
 {'name': 'Webmetrics', 'number_of_employees': 900},
 {'name': 'SonicWALL', 'number_of_employees': 900},
 {'name': 'InMobi', 'number_of_employees': 900}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [102]:
query={'founded_month': {'$gt':6}} 
filtro = {'name': True, 'founded_month': True, '_id': False}
list(colection.find(query,filtro).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11},
 {'name': 'Powerset', 'founded_month': 10},
 {'name': 'Kyte', 'founded_month': 12},
 {'name': 'Thoof', 'founded_month': 12}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [106]:
query = {'$and': [{'founded_year':{'$lt':2000}},
                {'acquisition.price_amount': {'$gt': 1e6}}]}

filtro = {'name': True, 'founded_year': True,'acquisition.price_amount': True , '_id': False}

list(colection.find(query,filtro).limit(10))

[{'name': 'Postini',
  'founded_year': 1999,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'SideStep',
  'founded_year': 1999,
  'acquisition': {'price_amount': 180000000}},
 {'name': 'Recipezaar',
  'founded_year': 1999,
  'acquisition': {'price_amount': 25000000}},
 {'name': 'Cyworld',
  'founded_year': 1999,
  'acquisition': {'price_amount': 7140000}},
 {'name': 'PayPal',
  'founded_year': 1998,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Snapfish',
  'founded_year': 1999,
  'acquisition': {'price_amount': 300000000}},
 {'name': 'Neopets',
  'founded_year': 1999,
  'acquisition': {'price_amount': 160000000}},
 {'name': 'Sun Microsystems',
  'founded_year': 1982,
  'acquisition': {'price_amount': 7400000000}},
 {'name': 'Zappos',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_year': 1999,
  'acquisition': {'price_amount': 1000000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [107]:
query={'acquisition.acquired_year': {'$lt': 2010}} 

filtro = {'name': True, 'acquisition.acquired_year': True, '_id': False}

list(colection.find(query,filtro).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Nextel Communications', 'acquisition': {'acquired_year': 2005}},
 {'name': 'BEA Systems', 'acquisition': {'acquired_year': 2008}},
 {'name': 'Navteq', 'acquisition': {'acquired_year': 2008}},
 {'name': 'Sun Microsystems', 'acquisition': {'acquired_year': 2009}},
 {'name': 'Puget Energy', 'acquisition': {'acquired_year': 2009}},
 {'name': 'Pixar', 'acquisition': {'acquired_year': 2006}},
 {'name': 'aQuantive', 'acquisition': {'acquired_year': 2007}},
 {'name': 'Siebel Systems', 'acquisition': {'acquired_year': 2006}},
 {'name': 'Affiliated Computer Services',
  'acquisition': {'acquired_year': 2009}},
 {'name': 'Sabre', 'acquisition': {'acquired_year': 2006}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [111]:
query = {'name' : {'$exists': True}}
filtro = {'name': True, 'founded_year': True, '_id': False}
list(colection.find(query,filtro).sort('founded_year',-1).limit(10))

[{'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [112]:
query = {'founded_day':{'$lte':7}}

filtro = {'name': True, 'founded_day': True,'acquisition.price_amount': True , '_id': False}

list(colection.find(query,filtro).sort('acquisition.price_amount',-1).limit(10))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}},
 {'name': 'PrimeSense',
  'founded_day': 1,
  'acquisition': {'price_amount': 345000000}},
 {'name': 'Amobee',
  'founded_day': 1,
  'acquisition': {'price_amount': 321000000}},
 {'name': 'Vitrue',
  'founded_day': 1,
  'acquisition': {'price_amount': 300000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [115]:
query = {'$and': [{'category_code': 'web'},
                {'number_of_employees': {'$gt': 4000}}]}

filtro = {'name': True, 'category_code': True,'number_of_employees': True , '_id': False}

list(colection.find(query,filtro).sort('number_of_employees',1).limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [119]:
query = {'$and': [{'acquisition.price_amount': {'$gt' :1e7}},
                {'acquisition.price_currency_code': 'EUR'}]}

filtro = {'name': True, 'acquisition.price_amount': True,'acquisition.price_currency_code': True , '_id': False}

list(colection.find(query,filtro).limit(10))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [121]:
query={'founded_month': {'$lte': 6}} 

filtro = {'name': True, 'acquisition': True, '_id': False}

list(colection.find(query,filtro).limit(2))

[{'name': 'Facebook', 'acquisition': None},
 {'name': 'Postini',
  'acquisition': {'price_amount': 625000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://www.techcrunch.com/2007/07/09/google-acquires-postini-for-625-million/',
   'source_description': 'http://www.techcrunch.com/2007/07/09/google-acquires-postini-for-625-million/',
   'acquired_year': 2007,
   'acquired_month': 7,
   'acquired_day': 9,
   'acquiring_company': {'name': 'Google', 'permalink': 'google'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [20]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [21]:
# Your Code