# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
client = MongoClient
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
str_conn = 'mongodb://localhost:27017'
cursor = MongoClient(str_conn)

db = cursor.companies

colec = db.compan

In [3]:
list(colec.find().limit(1))[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [4]:
query = {'name':{'$regex':'Babelgum'}}

filtro = {'_id': False , 'name' : True}

list(colec.find(query,filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [5]:
query = {'number_of_employees':{'$gt':5000}}

filtro = {'_id': False , 'name' : True, 'number_of_employees' : True}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(1))

[{'name': 'Siemens', 'number_of_employees': 405000}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [6]:
query = {'$and': [{'founded_year':{'$gte': 2000}},
                  {'founded_year':{'$lte': 2005}}]}

filtro = {'_id': False, 'name': True, 'founded_year': True}


list(colec.find(query,filtro).limit(1))

[{'name': 'Wetpaint', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [7]:
query = {'$and': [{'ipo.valuation_amount': {'$gte':100000000}},
                  {'founded_year':{'$lt' : 2010}}]}

filtro = {'_id' : False, 'name' : True, 'total_money_raised' : True}

list(colec.find(query,filtro).limit(1))

[{'name': 'Facebook', 'total_money_raised': '$2.43B'}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [8]:
query = {'$and': [{'number_of_employees':{'$lt':1000}},
                 {'founded_year':{'$lt':2005}}]}

filtro = {'_id':False,'name':True,'number_of_employees':True, 'founded_year':True}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997},
 {'name': '888 Holdings', 'number_of_employees': 931, 'founded_year': 1997},
 {'name': 'Forrester Research',
  'number_of_employees': 903,
  'founded_year': 1983},
 {'name': 'SonicWALL', 'number_of_employees': 900, 'founded_year': 1991},
 {'name': 'Webmetrics', 'number_of_employees': 900, 'founded_year': 1999},
 {'name': 'Cornerstone OnDemand',
  'number_of_employees': 881,
  'founded_year': 1999},
 {'name': 'Mozilla', 'number_of_employees': 800, 'founded_year': 1998},
 {'name': 'Buongiorno', 'number_of_employees': 800, 'founded_year': 1999},
 {'name': 'Yelp', 'number_of_employees': 800, 'founded_year': 2004}]

### 6. All the companies that don't include the `partners` field.

In [9]:
query = {'partners':{'$exists':False}}

filtro = {'_id':False,'name':True}

list(colec.find(query,filtro))

[]

In [10]:
query = {'partners': None}

filtro = {'_id':False,'name':True}

list(colec.find(query,filtro))

[]

### 7. All the companies that have a null type of value on the `category_code` field.

In [11]:
query = {'category_code': None}

filtro = {'_id':False,'name':True, 'category_code' : True}

list(colec.find(query,filtro).limit(1))

[{'name': 'Collective', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [12]:
query = {'$and':[{'number_of_employees':{'$gte':100}},
                {'number_of_employees':{'$lt':1000}}]}

filtro = {'_id':False , 'name': True, 'number_of_employees':True}

list(colec.find(query,filtro).limit(1))

[{'name': 'AdventNet', 'number_of_employees': 600}]

### 9. Order all the companies by their IPO price in a descending order.

In [13]:
query = {'ipo.valuation_amount':{'$ne':0}}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).sort('ipo.valuation_amount',-1).limit(1))

[{'name': 'GREE'}]

In [14]:
#list(colec.find().sort('ipo.valuation_amount',-1).limit(1))

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [15]:
query = {'number_of_employees':{'$gt':0}}

filtro = {'_id':False , 'name': True, 'number_of_employees':True}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [16]:
query = {'$and':[{'founded_month':{'$gt':6}},
                  {'founded_month':{'$lte':12}}]}

filtro = {'_id':False , 'name': True, 'founded_month':True}

list(colec.find(query,filtro).limit(1)) #aquí debería poner 1000 pero así no tenéis que hacer scroll infinito <3

[{'name': 'Wetpaint', 'founded_month': 10}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [17]:
query = {'$and':[{'founded_year':{'$lt':2000}},
                 {'acquisition.price_amount':{'$gt':1000000}}]}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).limit(1))

[{'name': 'Postini'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [18]:
query = {'acquisition.acquired_year':{'$gt':2012}}

filtro = {'_id':False , 'name': True, 'acquisition.acquired_year':True}

list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(1))

[{'name': 'LSI', 'acquisition': {'acquired_year': 2013}}]

In [19]:
query = {'acquisition.acquired_year':{'$gt':2012}}

filtro = {'_id':False , 'name': True, 'acquisition':True}

list(colec.find(query,filtro).sort('acquisition.price_amount',-1).limit(1))

[{'name': 'LSI',
  'acquisition': {'price_amount': 6600000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://dealbook.nytimes.com/2013/12/16/avago-to-buy-lsi-for-6-6-billion/?_r=0',
   'source_description': 'Avago to Buy LSI for $6.6 Billion',
   'acquired_year': 2013,
   'acquired_month': 12,
   'acquired_day': 16,
   'acquiring_company': {'name': 'Avago Technologies',
    'permalink': 'avago-technologies'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [20]:
query = {'founded_year':{'$gt':0}}

filtro = {'_id':False , 'name': True, 'founded_year':True}

list(colec.find(query,filtro).sort('founded_year').limit(10))

[{'name': 'US Army', 'founded_year': 1800},
 {'name': 'SmallWorlds', 'founded_year': 1800},
 {'name': 'Alstrasoft', 'founded_year': 1800},
 {'name': 'DuPont', 'founded_year': 1802},
 {'name': 'Bachmann Industries', 'founded_year': 1833},
 {'name': 'McKesson', 'founded_year': 1833},
 {'name': 'Bertelsmann', 'founded_year': 1835},
 {'name': 'Accuity', 'founded_year': 1836},
 {'name': 'CENTRA', 'founded_year': 1839},
 {'name': 'WeGame', 'founded_year': 1840}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [21]:
query = {'founded_day':{'$lte':7}}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Netscape'},
 {'name': 'PayPal'},
 {'name': 'Zappos'},
 {'name': 'Alibaba'},
 {'name': 'Postini'},
 {'name': 'Danger'},
 {'name': 'Clearwell Systems'},
 {'name': 'PrimeSense'},
 {'name': 'Amobee'},
 {'name': 'BlueLithium'}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [22]:
query = {'$and':[{'category_code':'web'},
                {'number_of_employees':{'$gt':4000}}]}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Experian'},
 {'name': 'eBay'},
 {'name': 'Yahoo!'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Webkinz'},
 {'name': 'AOL'},
 {'name': 'Expedia'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [23]:
query = {'$and':[{'acquisition.price_amount':{'$gt':10000000}},
                 {'acquisition.price_currency_code':'EUR'}]}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).limit(5))

[{'name': 'ZYB'},
 {'name': 'Apertio'},
 {'name': 'Greenfield Online'},
 {'name': 'Webedia'},
 {'name': 'Wayfinder'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [24]:
query = {'acquisition.acquired_month':{'$lte':3}}

filtro = {'_id':False , 'name': True, 'acquisition.acquired_month':True}

list(colec.find(query,filtro).limit(10))

[{'name': 'Kyte', 'acquisition': {'acquired_month': 1}},
 {'name': 'NetRatings', 'acquisition': {'acquired_month': 2}},
 {'name': 'blogTV', 'acquisition': {'acquired_month': 3}},
 {'name': 'Livestream', 'acquisition': {'acquired_month': 1}},
 {'name': 'iContact', 'acquisition': {'acquired_month': 2}},
 {'name': 'Coghead', 'acquisition': {'acquired_month': 2}},
 {'name': 'Dailymotion', 'acquisition': {'acquired_month': 2}},
 {'name': 'Netvibes', 'acquisition': {'acquired_month': 2}},
 {'name': 'Flickr', 'acquisition': {'acquired_month': 3}},
 {'name': 'BabyCenter', 'acquisition': {'acquired_month': 3}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [25]:
query = {'$and':[{'founded_year':{'$gte':2000}},
                  {'founded_year':{'$lte':2010}},
                 {'acquisition.acquired_year':{'$gte':2011}}]}

filtro = {'_id':False , 'name': True}

list(colec.find(query,filtro).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Digg'},
 {'name': 'Geni'},
 {'name': 'Kyte'},
 {'name': 'Jingle Networks'},
 {'name': 'blogTV'},
 {'name': 'delicious'},
 {'name': 'Revision3'},
 {'name': 'iContact'},
 {'name': 'Mashery'}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [29]:
filtro = {'name':True, 'deadpooled_year':True, 'founded_year':True, '_id':False}

df = pd.DataFrame(colec.find((), filtro))

df.head()

        name  founded_year  deadpooled_year
0   Wetpaint        2005.0              1.0
1  AdventNet        1996.0              2.0
2       Zoho        2005.0              3.0
3       Digg        2004.0              NaN
4   Facebook        2004.0              NaN

In [30]:
nulos = df[df.deadpooled_year.isna()]

df = df.drop(nulos.index)

In [31]:
nulos2 = df[df.founded_year.isna()]
df.drop(nulos2.index)

new_df = df[df.deadpooled_year == df.founded_year + 3]
new_df.head()

            name  founded_year  deadpooled_year
5      Omnidrive        2005.0           2008.0
45     Jangl SMS        2005.0           2008.0
114      TripHub        2005.0           2008.0
336     EventVue        2007.0           2010.0
490  CrowdSpirit        2007.0           2010.0