# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
from pymongo import MongoClient
import pandas as pd
import folium 
import re

In [2]:
cliente=MongoClient()
db=cliente.companies
colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [9]:
query = {"name" : 'Babelgum'}

filtro = {"name" : True, "_id":False}

list(colec.find(query, filtro))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [10]:
list(colec.find().limit(1))[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

In [55]:
query = {'number_of_employees': {'$gt': 5000}}

filtro = {"name" : True, "_id":False}

list((colec.find(query, filtro)).sort('number_of_employees', -1).limit(2))

[{'name': 'Siemens'}, {'name': 'IBM'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [54]:
query = {"$and": [{'founded_year': {'$gt': 1999}},
                 {'founded_year': {'$lt': 2006}}]}

filtro = {"name" : True,'founded_year': True, "_id":False}
list(colec.find(query, filtro).limit(2))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [53]:
query = {"$and": [{'founded_year': {'$lt': 2010}},
                 {'ipo.valuation_amount': {'$gt':100000000}}]}

filtro = {"name" : True,'ipo.valuation_amount': True, "_id":False}
list(colec.find(query, filtro).limit(2))

[{'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}},
 {'name': 'Twitter', 'ipo': {'valuation_amount': 18100000000}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [52]:
query = {"$and": [{'founded_year': {'$lt': 2005}},
                 {'number_of_employees': {'$lt':1000}}]}

filtro = {"name" : True,'number_of_employees': True, "founded_year": 1, "_id":False}
list(colec.find(query, filtro).sort('number_of_employees', -1).limit(1))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000}]

### 6. All the companies that don't include the `partners` field.

In [90]:
query = {'partners': {"$exists": "False" }}

filtro = {"name" : True, "_id":False}

list(colec.find(query, filtro).limit(1))

[{'name': 'Wetpaint'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [95]:
query = {'category_code': None}

filtro = {"name" : True, "_id":False, 'category_code' : 1}

list(colec.find(query, filtro).limit(1))

[{'name': 'Collective', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [62]:
query = {"$and": [{'number_of_employees': {'$lt': 1000}},
                 {'number_of_employees': {'$gt':100}}]}

filtro = {"name" : True,'number_of_employees': True,  "_id":False}
list(colec.find(query, filtro).sort('number_of_employees', -1).limit(1))

[{'name': 'Datamonitor', 'number_of_employees': 984}]

### 9. Order all the companies by their IPO price in a descending order.

In [68]:
query = {'ipo.valuation_amount': {"$exists": "True"}}

filtro = {"name" : True,'ipo.valuation_amount': True, "_id":False}
list(colec.find(query, filtro).sort('ipo.valuation_amount', -1).limit(2))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}},
 {'name': 'Facebook', 'ipo': {'valuation_amount': 104000000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [72]:
query = {'name': {"$exists": "True"}}
filtro = {"name" : True,'number_of_employees': True, "_id":False}
list(colec.find(query, filtro).sort('number_of_employees', -1).limit(2))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [75]:
query = {"founded_month": {'$gt' : 5} }
filtro = {"name" : True,"founded_month": True, "_id":False}
list(colec.find(query, filtro).limit(2))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [98]:
query = {"$and": [
                    {'ipo.valuation_amount': {"$gt": 10000000}},
                    {"founded_year": {"$lt": 2000}}
                 ]}
filtro = {"name" : True,"founded_year": True, "_id":False}
list(colec.find(query, filtro).limit(2))

[{'name': 'Amazon', 'founded_year': 1994},
 {'name': 'Nielsen', 'founded_year': 1922}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [101]:
query = {"acquisition.acquired_year": {"$gt": 2010}
        
}
filtro = {"name": True, "acquisition": True, "_id":False}

list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(1))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [103]:
query = {'name': {"$exists": "True"}}
filtro = {"name": True, "founded_year": True, "_id":False}
list(colec.find(query, filtro).sort("founded_year", -1).limit(3))

[{'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [104]:
query = {"founded_day": {"$lt": 8}}
filtro = {"name":True, "acquisition.price_amount": True, "founded_day": True, "_id":False}
list(colec.find(query, filtro).sort("acquisition.price_amount", -1).limit(3))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [106]:
query = {"$and":[{'category_code': "web"},
                {"number_of_employees":{"$gt":4000}}]}
filtro = {"name":True, "category_code":True,"number_of_employees":True, "_id":False}
list(colec.find(query, filtro).sort("number_of_employees", 1).limit(1))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [108]:
query = {"$and": [{"acquisition.price_amount": {"$gt": 10000000}},
                    {"acquisition.price_currency_code": "EUR"}
]}
filtro = {"name": True, "acquisition.price_amount":True, "acquisition.price_currency_code": True, "_id":False}
list(colec.find(query, filtro).limit(1))

[{'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [110]:
query = {"acquisition.acquired_month": {"$lt": 4}}
filtro = {"name": True, "acquisition": True, "_id":False}

list(colec.find(query, filtro).limit(1))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [20]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [21]:
# Your Code