# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo

Requirement already satisfied: pymongo in c:\users\usuario\anaconda3\lib\site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\usuario\anaconda3\lib\site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pymongo import MongoClient
client = MongoClient("mongodb://localhost:27017")

In [3]:
str_conn='mongodb://localhost:27017'

cursor=MongoClient(str_conn)

cursor

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
cursor.list_database_names()

['admin', 'companies', 'config', 'local']

In [5]:
db=cursor.companies

In [6]:
colec=db.companies

In [7]:
list(colec.find().limit(1))[0].keys()

dict_keys(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url', 'blog_url', 'blog_feed_url', 'twitter_username', 'category_code', 'number_of_employees', 'founded_year', 'founded_month', 'founded_day', 'deadpooled_year', 'tag_list', 'alias_list', 'email_address', 'phone_number', 'description', 'created_at', 'updated_at', 'overview', 'image', 'products', 'relationships', 'competitions', 'providerships', 'total_money_raised', 'funding_rounds', 'investments', 'acquisition', 'acquisitions', 'offices', 'milestones', 'video_embeds', 'screenshots', 'external_links', 'partners'])

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [8]:
# Your Code
import pandas as pd

In [9]:
query={'name': 'Babelgum'}  # es para registros

select={'_id':0, 'name':1}   # 0 es que no venga, 1 es que venga, es para columnas

list(colec.find(query, select))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [29]:
query={'number_of_employees': {'$gt': 5000}}
filtro= {'name': True, '_id':False}
list(colec.find(query,filtro).sort('number_of_employees', -1).limit(2))

[{'name': 'Siemens'}, {'name': 'IBM'}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [16]:
# Your Code
query={'$and': [{'founded_year': {'$gte': 2000}},
                {'founded_year': {'$lte': 2005}}]}



filtro={'name': True, 'founded_year': True}



list(colec.find(query, filtro).limit(2))

[{'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [19]:
# Your Code
query={'$and': [{'ipo.valuation_amount': {'$gt': 100000000}},
                {'founded_year': {'$lt': 2010}}]}



filtro={'name': True, 'ipo': True, '_id' : False}



list(colec.find(query, filtro).limit(2))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}},
 {'name': 'Twitter',
  'ipo': {'valuation_amount': 18100000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2013,
   'pub_month': 11,
   'pub_day': 7,
   'stock_symbol': 'NYSE:TWTR'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [24]:
# Your Code
query={'$and': [{'number_of_employees': {'$lt': 1000}},
                {'founded_year': {'$lt': 2005}}]}



filtro={'name': True, 'number_of_employees': True, 'founded_year': True, '_id' : False}



list(colec.find(query, filtro).sort('number_of_employees', -1).limit(2))

[{'name': 'Infinera Corporation',
  'number_of_employees': 974,
  'founded_year': 2000},
 {'name': 'NorthPoint Communications Group',
  'number_of_employees': 948,
  'founded_year': 1997}]

### 6. All the companies that don't include the `partners` field.

In [34]:
# Your Code# documentos que contengan oficinas, devuelve solo el nombre y el array de oficinas

query={'partners': {'$not': {'$size': 1}}}

filtro={'_id': 0, 'name': 1, 'partners': 1}

list(colec.find(query, filtro).limit(2))

[{'name': 'Wetpaint', 'partners': []}, {'name': 'AdventNet', 'partners': []}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [41]:
# Your Code

query = {'category_code': None}


filtro={'name': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Collective', 'category_code': None},
 {'name': 'Snimmer', 'category_code': None},
 {'name': 'KoolIM', 'category_code': None},
 {'name': 'Level9 Media', 'category_code': None},
 {'name': 'VidKing', 'category_code': None},
 {'name': 'Drigg', 'category_code': None},
 {'name': 'SpaceTime', 'category_code': None},
 {'name': 'Touch Clarity', 'category_code': None},
 {'name': 'MMDAYS', 'category_code': None},
 {'name': 'Inside Group', 'category_code': None}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [42]:
# Your Code
query={'$and': [{'number_of_employees': {'$gte':100}},
                {'number_of_employees': {'$lt': 1000}}]}



filtro={'name': True, 'number_of_employees': True, '_id': False}



list(colec.find(query, filtro).limit(2))

[{'name': 'AdventNet', 'number_of_employees': 600},
 {'name': 'AddThis', 'number_of_employees': 120}]

### 9. Order all the companies by their IPO price in a descending order.

In [48]:
# Your Code
query={'ipo':{'$ne': 0} }
filtro={'name':True, 'ipo': True, '_id': False}
list(colec.find(query,filtro).sort('ipo', -1).limit(2))

[{'name': 'GREE',
  'ipo': {'valuation_amount': 108960000000,
   'valuation_currency_code': 'JPY',
   'pub_year': 2008,
   'pub_month': 12,
   'pub_day': 17,
   'stock_symbol': '3632'}},
 {'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [50]:
# Your Code
query={'number_of_employees':{'$ne': 0} }
filtro={'name':True, 'number_of_employees': True, '_id': False}
list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [55]:
# Your Code
query={'$and': [{'founded_month': {'$gte': 6}}]}



filtro={'name': True, 'founded_month': True, '_id': False}



list(colec.find(query, filtro).limit(10))

[{'name': 'Wetpaint', 'founded_month': 10},
 {'name': 'Zoho', 'founded_month': 9},
 {'name': 'Digg', 'founded_month': 10},
 {'name': 'Omnidrive', 'founded_month': 11},
 {'name': 'Postini', 'founded_month': 6},
 {'name': 'Geni', 'founded_month': 6},
 {'name': 'Fox Interactive Media', 'founded_month': 6},
 {'name': 'eBay', 'founded_month': 9},
 {'name': 'Joost', 'founded_month': 10},
 {'name': 'Plaxo', 'founded_month': 11}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [56]:
# Your Code
query={'$and': [{'acquisition.price_amount': {'$gt': 10000000}},
                {'founded_year': {'$lt': 2000}}]}



filtro={'name': True, 'founded_year': True, 'acquisition.price_amount': True, '_id' : False}



list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(2))

[{'name': 'BEA Systems',
  'founded_year': 1995,
  'acquisition': {'price_amount': 8500000000}},
 {'name': 'Navteq',
  'founded_year': 1985,
  'acquisition': {'price_amount': 8100000000}}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [60]:
# Your Code
query={'$and': [{'acquisition.acquired_year': {'$gt': 2010}}]}



filtro={'name': True, 'founded_year': True, 'acquisitions': True, '_id' : False,'acquisition.price_amount': True}



list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(2))

[{'name': 'T-Mobile',
  'founded_year': None,
  'acquisition': {'price_amount': 39000000000},
  'acquisitions': []},
 {'name': 'Goodrich Corporation',
  'founded_year': None,
  'acquisition': {'price_amount': 18400000000},
  'acquisitions': [{'price_amount': None,
    'price_currency_code': 'USD',
    'term_code': None,
    'source_url': 'http://charlotte.bizjournals.com/charlotte/stories/2009/04/27/daily62.html',
    'source_description': 'Goodrich buys Cloud Cap Technology',
    'acquired_year': 2009,
    'acquired_month': 5,
    'acquired_day': 1,
    'company': {'name': 'Cloud Cap Technology',
     'permalink': 'cloud-cap-technology'}}]}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [63]:
# Your Code
query={'founded_year':{'$ne': 0} }
filtro={'name':True, 'founded_year': True, '_id': False}
list(colec.find(query,filtro).sort('founded_year', -1).limit(20))

[{'name': 'Fixya', 'founded_year': 2013},
 {'name': 'Gimigo', 'founded_year': 2013},
 {'name': 'VistaGen Therapeutics', 'founded_year': 2013},
 {'name': 'SEOGroup', 'founded_year': 2013},
 {'name': 'WhosCall', 'founded_year': 2013},
 {'name': 'Wamba', 'founded_year': 2013},
 {'name': 'Shopseen', 'founded_year': 2013},
 {'name': 'Tongxue', 'founded_year': 2013},
 {'name': 'Advaliant', 'founded_year': 2013},
 {'name': 'Pikk', 'founded_year': 2013},
 {'name': 'Fluc', 'founded_year': 2013},
 {'name': 'Clowdy', 'founded_year': 2013},
 {'name': 'iBazar', 'founded_year': 2013},
 {'name': 'Springleap', 'founded_year': 2012},
 {'name': 'Skydeck', 'founded_year': 2012},
 {'name': 'Mobiluck', 'founded_year': 2012},
 {'name': 'headr', 'founded_year': 2012},
 {'name': 'FoodCare', 'founded_year': 2012},
 {'name': 'Bling Easy', 'founded_year': 2012},
 {'name': 'Jumbuck Entertainment', 'founded_year': 2012}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [66]:
# Your Code
query={'founded_day':{'$lte': 7} }
filtro={'name':True, 'founded_day': True, 'acquisition.price_amount': True , '_id': False}
list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(7))

[{'name': 'Netscape',
  'founded_day': 4,
  'acquisition': {'price_amount': 4200000000}},
 {'name': 'PayPal',
  'founded_day': 1,
  'acquisition': {'price_amount': 1500000000}},
 {'name': 'Zappos',
  'founded_day': 1,
  'acquisition': {'price_amount': 1200000000}},
 {'name': 'Alibaba',
  'founded_day': 1,
  'acquisition': {'price_amount': 1000000000}},
 {'name': 'Postini',
  'founded_day': 2,
  'acquisition': {'price_amount': 625000000}},
 {'name': 'Danger',
  'founded_day': 1,
  'acquisition': {'price_amount': 500000000}},
 {'name': 'Clearwell Systems',
  'founded_day': 6,
  'acquisition': {'price_amount': 410000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [68]:
# Your Code
query={'$and': [{'category_code': 'web'},
                {'number_of_employees': {'$gt': 4000}}]}



filtro={'name': True, 'number_of_employees': True, 'category_code': True, '_id': False}



list(colec.find(query, filtro).sort('number_of_employees', 1).limit(10))

[{'name': 'Expedia', 'category_code': 'web', 'number_of_employees': 4400},
 {'name': 'AOL', 'category_code': 'web', 'number_of_employees': 8000},
 {'name': 'Webkinz', 'category_code': 'web', 'number_of_employees': 8657},
 {'name': 'Rakuten', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Los Angeles Times Media Group',
  'category_code': 'web',
  'number_of_employees': 10000},
 {'name': 'Groupon', 'category_code': 'web', 'number_of_employees': 10000},
 {'name': 'Yahoo!', 'category_code': 'web', 'number_of_employees': 13600},
 {'name': 'eBay', 'category_code': 'web', 'number_of_employees': 15000},
 {'name': 'Experian', 'category_code': 'web', 'number_of_employees': 15500}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [70]:
# Your Code
query={'$and': [{'acquisition.price_currency_code': 'EUR'},
                {'acquisition.price_amount': {'$gt': 10000000}}]}



filtro={'name': True, 'acquisition.price_currency_code': True, 'acquisition.price_amount': True, '_id': False}



list(colec.find(query, filtro).sort('acquisition.price_amount', -1).limit(10))

[{'name': 'Apertio',
  'acquisition': {'price_amount': 140000000, 'price_currency_code': 'EUR'}},
 {'name': 'Webedia',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'Tuenti Technologies',
  'acquisition': {'price_amount': 70000000, 'price_currency_code': 'EUR'}},
 {'name': 'BioMed Central',
  'acquisition': {'price_amount': 43400000, 'price_currency_code': 'EUR'}},
 {'name': 'Greenfield Online',
  'acquisition': {'price_amount': 40000000, 'price_currency_code': 'EUR'}},
 {'name': 'ZYB',
  'acquisition': {'price_amount': 31500000, 'price_currency_code': 'EUR'}},
 {'name': 'Wayfinder',
  'acquisition': {'price_amount': 24000000, 'price_currency_code': 'EUR'}}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [72]:
# Your Code
query={'$and': [{'acquisition.acquired_month': {'$lte': 3}}]}



filtro={'name': True, 'acquisition': True, '_id': False}



list(colec.find(query, filtro).limit(2))

[{'name': 'Kyte',
  'acquisition': {'price_amount': None,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/01/31/exclusive-kit-digital-acquires-kickapps-kewego-and-kyte-for-77-2-million/',
   'source_description': 'KIT digital Acquires KickApps, Kewego AND Kyte For $77.2 Million',
   'acquired_year': 2011,
   'acquired_month': 1,
   'acquired_day': 31,
   'acquiring_company': {'name': 'KIT digital', 'permalink': 'kit-digital'}}},
 {'name': 'NetRatings',
  'acquisition': {'price_amount': 327000000,
   'price_currency_code': 'USD',
   'term_code': 'cash',
   'source_url': 'http://login.vnuemedia.com/hr/login/login_subscribe.jsp?id=0oqDem1gYIfIclz9i2%2Ffqj5NxCp2AC5DPbVnyT2da8GyV2mXjasabE128n69OrmcAh52%2FGE3pSG%2F%0AEKRYD9vh9EhrJrxukmUzh532fSMTZXL42gwPB80UWVtF1NwJ5UZSM%2BCkLU1mpYBoHFgiH%2Fi0f6Ax%0A9yMIVxt47t%2BHamhEQ0nkOEK24L',
   'source_description': 'Nielsen buys rest of NetRatings',
   'acquired_year': 2007,
   'acquired_month': 2,
   'acquired_day': None,
   'acquiring_company': {'name': 'Nielsen', 'permalink': 'nielsen'}}}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [84]:
# Your Code
query={'$and': [{'founded_year': {'$gt': 2000}},
                {'founded_year': {'$lt': 2010}}, 
               {'acquisition.acquired_year': {'$gt': 2011}}]}



filtro={'name': True, 'founded_year': True, 'acquisition.acquired_year': True, '_id' : False}



list(colec.find(query, filtro).sort('acquisition.acquired_year', -1).limit(5))

[{'name': 'Sense Networks',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2014}},
 {'name': 'Mashery',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'blogTV',
  'founded_year': 2006,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'adBrite',
  'founded_year': 2003,
  'acquisition': {'acquired_year': 2013}},
 {'name': 'Dailymotion',
  'founded_year': 2005,
  'acquisition': {'acquired_year': 2013}}]

### 20. All the companies that have been 'deadpooled' after the third year.

In [88]:
# Your Code
query={'$and': [{'deadpooled_year': { '$gt':0}} - {'founded_year':{'$gt':0}} >3 ]}



filtro={'name': True, 'deadpooled_year': True,'_id' : False}



list(colec.find(query, filtro).limit(5))

TypeError: unsupported operand type(s) for -: 'dict' and 'dict'