# Advanced Querying Mongo

Importing libraries and setting up connection

In [1]:
%pip install pymongo
from pymongo import MongoClient



# from pymongo import MongoClient
# client = MongoClient("")

Collecting pymongo
  Downloading pymongo-4.3.3-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.1/492.1 kB 2.2 MB/s eta 0:00:00[31m3.0 MB/s eta 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 2.3 MB/s eta 0:00:00 MB/s eta 0:00:01:01
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [6]:
cursor=MongoClient('mongodb://localhost:27017')

db=cursor.companies
colec=db.companies

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [15]:
query = {'name': 'Babelgum'}
select ={'_id':0 ,'name':1}

list(colec.find(query, select).limit(1))

[{'name': 'Babelgum'}]

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [22]:
query={'number_of_employees': {'$gt':5000} }
select={'_id':0, 'number_of_employees':1}

list(colec.find(query,select).limit(1))

[{'number_of_employees': 5299}]

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [34]:
query = {'$and':[{'founded_year': {'$gte': 2000}},{'founded_year':{'$lte': 2005}}]}

select={'_id':0, 'name':1, 'founded_year':1}

list(colec.find(query,select).limit(3))

[{'name': 'Wetpaint', 'founded_year': 2005},
 {'name': 'Zoho', 'founded_year': 2005},
 {'name': 'Digg', 'founded_year': 2004}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [40]:
query = {'$and': [{'ipo.valuation_amount' : {'$gt':100000000}},
                  {'founded_year': {'$lt': 2010}}]}

select = {'_id': 0 , 'name': 1, 'ipo': 1}
        
        
list(colec.find(query,select).limit(1))

[{'name': 'Facebook',
  'ipo': {'valuation_amount': 104000000000,
   'valuation_currency_code': 'USD',
   'pub_year': 2012,
   'pub_month': 5,
   'pub_day': 18,
   'stock_symbol': 'NASDAQ:FB'}}]

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [47]:
query = {'$and': [{'number_of_employees' : {'$lt':1000}},
                  {'founded_year': {'$lt': 2005}}]}
select = {'_id':0, 'name': 1, 'number_of_employees':1}

list(colec.find(query,select).sort('number_of_employees', -1).limit(1))

[{'name': 'Infinera Corporation', 'number_of_employees': 974}]

### 6. All the companies that don't include the `partners` field.

In [50]:
query = {'partners': {'$exists': 'False'}}

select= {'_id':0, 'name': 1}

list(colec.find(query,select).limit(1))

[{'name': 'Wetpaint'}]

### 7. All the companies that have a null type of value on the `category_code` field.

In [54]:
query = {'category_code': {'$type' : 10}}

select={'_id': 0, 'name':1}

list(colec.find(query,select).limit(1))

[{'name': 'Collective'}]

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [58]:
query={'$and' : [{'number_of_employees': {'$gte':100}},
       {'number_of_employees': {'$lte':1000}}]}

select = {'_id': 0 , 'name': 1, 'number_of_emplyees': 1}

list(colec.find(query,select).limit(1))

[{'name': 'AdventNet'}]

### 9. Order all the companies by their IPO price in a descending order.

In [72]:

query = {}
filtro = {'_id': 0 , 'name' : 1, 'ipo.valuation_amount': 1}

list(colec.find(query,filtro).sort('ipo.valuation_amount', -1).limit(1))

[{'name': 'GREE', 'ipo': {'valuation_amount': 108960000000}}]

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [76]:
query={}

filtro = {'_id': 0 , 'name': 1, 'number_of_employees': 1}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Siemens', 'number_of_employees': 405000},
 {'name': 'IBM', 'number_of_employees': 388000},
 {'name': 'Toyota', 'number_of_employees': 320000},
 {'name': 'PayPal', 'number_of_employees': 300000},
 {'name': 'Nippon Telegraph and Telephone Corporation',
  'number_of_employees': 227000},
 {'name': 'Samsung Electronics', 'number_of_employees': 221726},
 {'name': 'Accenture', 'number_of_employees': 205000},
 {'name': 'Tata Consultancy Services', 'number_of_employees': 200300},
 {'name': 'Flextronics International', 'number_of_employees': 200000},
 {'name': 'Safeway', 'number_of_employees': 186000}]

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [79]:
query = {'$and': [{'founded_month' : {'$gte':7}},
                  {'founded_month': {'$lte': 12}}]}

filtro={'_id':0, 'name': 1}

list(colec.find(query,filtro).limit(10))

[{'name': 'Wetpaint'},
 {'name': 'Zoho'},
 {'name': 'Digg'},
 {'name': 'Omnidrive'},
 {'name': 'eBay'},
 {'name': 'Joost'},
 {'name': 'Plaxo'},
 {'name': 'Powerset'},
 {'name': 'Kyte'},
 {'name': 'Thoof'}]

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [81]:
query = {'$and': [{'acquisition.price_amount' : {'$gt':10000000}},
                  {'founded_year': {'$lt': 2000}}]}

filtro={'_id':0, 'name': 1}

list(colec.find(query,filtro).limit(1))

[{'name': 'Postini'}]

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [101]:
query = {'acquisition.acquired_year':{'$gt': 2010}}
       
filtro={'_id':0, 'name': 1, 'acquisition': 1}

list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(1))

[{'name': 'T-Mobile',
  'acquisition': {'price_amount': 39000000000,
   'price_currency_code': 'USD',
   'term_code': None,
   'source_url': 'http://techcrunch.com/2011/03/20/in-the-race-for-more-spectrum-att-is-acquiring-t-mobile-for-39-billion/',
   'source_description': 'In The Race For More Spectrum, AT&T Is Acquiring T-Mobile For $39 Billion',
   'acquired_year': 2011,
   'acquired_month': 3,
   'acquired_day': 20,
   'acquiring_company': {'name': 'AT&T', 'permalink': 'at-t'}}}]

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [106]:
query={}

filtro = {'_id': 0 , 'name': 1, 'founded_year': 1}

list(colec.find(query,filtro).sort('founded_year', -1).limit(1))

[{'name': 'Fixya', 'founded_year': 2013}]

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [107]:
query={}

filtro = {'_id': 0 , 'name': 1, 'acquisition.price_amount': 1}

list(colec.find(query,filtro).sort('acquisition.price_amount', -1).limit(1))

[{'name': 'T-Mobile', 'acquisition': {'price_amount': 39000000000}}]

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [112]:
query ={'$and' : [{'category_code': 'web'},  {'number_of_employees' :{'$gt':4000}}]}


filtro = {'_id': 0 , 'name': 1,}

list(colec.find(query,filtro).sort('number_of_employees', -1).limit(10))

[{'name': 'Experian'},
 {'name': 'eBay'},
 {'name': 'Yahoo!'},
 {'name': 'Rakuten'},
 {'name': 'Los Angeles Times Media Group'},
 {'name': 'Groupon'},
 {'name': 'Webkinz'},
 {'name': 'AOL'},
 {'name': 'Expedia'}]

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [118]:
query = {'$and' : [{'acquisition.price_amount' : {'$gt': 10000000}}, {'acquisition.price_currency_code': 'EUR'}]}

filtro = {'_id': 0 , 'name': 1,}

list(colec.find(query,filtro).limit(1))

[{'name': 'ZYB'}]

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [125]:
query = {'acquisition.acquired_month': {'$lte':3}}

filtro = {'_id': 0 , 'name': 1,}

list(colec.find(query,filtro).limit(1))

[{'name': 'Kyte'}]

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [138]:
query = {'$and': [{'founded_year':{'$gt':2000}},
                  {'founded_year': {'$lt': 2010}}, 
                 {'$or':[{'acquisition.acquired_year': {'$lt':2011}}, {'acquisition.acquired_year': None}]}]}
                                               


filtro = {'_id': 0 , 'name': 1,}


list(colec.find(query,filtro).limit(1))

[{'name': 'Zoho'}]

### 20. All the companies that have been 'deadpooled' after the third year.